.loader {
  margin: auto;
  margin-top: 15%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid rgba(163, 156, 156, 0.515);
  border-top: 15px solid #0064EB;
  animation: rotate 1s ease infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}